@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirma o reset da password";
}

<h1>@ViewData["Title"]</h1>
<p>
    A tua password foi resetada. PPor favor <a asp-page="./Login">clica aqui para fazeres log in</a>.
</p>
