@model Pweb_2021.Models.Feedback

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Apreciações</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FeedbackId" />
            <div class="form-group">
                <label asp-for="Estrelas" class="control-label"></label>
                <input asp-for="Estrelas" class="form-control" />
                <span asp-validation-for="Estrelas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="ApplicationUserId" class="form-control"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @if(@Model.AuthorIsCliente)
    {
        <a asp-action="Details" asp-controller="Imoveis" asp-route-id="@Model.Reserva.ImovelId"> Voltar ao Imóvel</a>    
    }else{
        <a asp-action="UserDetails" asp-controller="Reservas" asp-route-id="@Model.Reserva.ApplicationUserId"> Voltar ao cliente</a>    
    }
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
