@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmação de recuperação de password";
}

<h1>@ViewData["Title"]</h1>
<p>
    verifique o seu email para recuperar a sua password.
</p>

