@model Pweb_2021.Controllers.UsersController.EditUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Utilizador @Model.Email</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <div class="row">
            <label asp-for="ChangeEmail" class="control-label col-6"></label>
            <input type="checkbox" asp-for="ChangeEmail" onclick="hideEmail()" id="button_email" class="form-control" />
        </div>
    </div>
    <div class="form-group" id="email_group" style="display:none;">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="row">
            <label asp-for="ChangePassword" class="control-label col-6"></label>
            <input asp-for="ChangePassword" value="false" onclick="hidePassword()" id="button_password" class="form-control col-4 btn btn-info" />
        </div>
        <span asp-validation-for="ChangePassword" class="text-danger"></span>
    </div>
    <div class="form-group" id="password_group" style="display:none;">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Voltar à Lista</a>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

<script type="text/javascript">
    hideEmail();
    hidePassword();
    function hidePassword() {
        hideAction("password_group", setValue("button_password"));
    }

    function hideEmail() {
        hideAction("email_group", setValue("button_email"));
       
    }
    function setValue(id){
        var button = document.getElementById(id);
        button.value = button.checked;
        console.log(button.checked);
        return button.checked   ;
    }

    function hideAction(id, status) {
        var x = document.getElementById(id);
        if (status) {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
}
